@model IEnumerable<BetService.Repository.Entity.Events>

@{
    ViewBag.Title = "Index";
}

<h2>Events</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HomeTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KickOff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeTeamOdds)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayTeamOdds)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrawOdds)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Result)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HomeTeam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwayTeam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KickOff)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeTeamOdds)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwayTeamOdds)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrawOdds)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Result)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EventId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EventId })
        </td>
    </tr>
}

</table>
