@model BetService.Repository.Entity.Bets

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">@Model.BetId</h3>
    </div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EventId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlayerId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BetType)
                </th>
                <th></th>
            </tr>
             <tr>
                    <td>
                        @Html.DisplayFor(modelItem => @Model.EventId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => @Model.PlayerId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => @Model.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => @Model.BetType)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = @Model.BetId }) |
                        @Html.ActionLink("Details", "Details", new { id = @Model.BetId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = @Model.BetId })
                    </td>
              </tr>
            

        </table>

        @Html.ActionLink("Edit", "Edit", new { id = Model.BetId }) |
        @Html.ActionLink("Details", "Details", new { id = Model.BetId }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.BetId })
    </div>

</div>

